@model ED2OR.ViewModels.ApiCriteriaSection

@{
    var numCheckboxes = Model.FilterCheckboxes == null ? 0 : Model.FilterCheckboxes.Count();
    var numSelected = Model.FilterCheckboxes == null ? 0 : Model.FilterCheckboxes.Where(x => x.Selected).Count();
    var numSelectedText = (numCheckboxes == numSelected && numCheckboxes != 0) ? "all" : numSelected.ToString();
    var collapseClass = Model.IsExpanded ? "collapse in" : "collapse";
}

@Html.HiddenFor(x => x.SectionName)

<div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#@Model.SectionName">
    @Model.SectionName <span id="numSelected_@Model.SectionName">(@numSelectedText selected)</span>
</div>
<div class="@collapseClass" id="@Model.SectionName">
    <a href="javascript:deselectAll('@Model.SectionName');">(deselect all)</a><br />
    @Html.EditorFor(x => x.FilterCheckboxes)
</div>
