@model ED2OR.ViewModels.ExportsViewModel

@{
    ViewBag.Title = "Exports";
}

<style>
    .accordionHeader {
        width:100%;
    }
</style>

<h3>@ViewBag.Title</h3>

@*http://v4-alpha.getbootstrap.com/components/collapse/*@

@using (Html.BeginForm())
{
    <div id="criteriaContainer">
        @Html.EditorFor(x => x.CriteriaSections)
        <input type="submit" value="OK" />
    </div>
    

    @*<div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#schools">
        Schools
    </div>
    <div class="collapse.in" id="schools">
        <a href="javascript:deselectAll('schools');">(deselect all)</a><br />
        @Html.EditorFor(x => x.SchoolsCheckboxes)
    </div>
    <div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#subjects">
        Subjects
    </div>
    <div class="collapse" id="subjects">
        @Html.EditorFor(x => x.SubjectsCheckboxes)
    </div>
    <div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#courses">
        Courses
    </div>
    <div class="collapse" id="courses">
        @Html.EditorFor(x => x.CoursesCheckboxes)
    </div>
    <div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#sections">
        Sections
    </div>
    <div class="collapse" id="sections">
        @Html.EditorFor(x => x.SectionsCheckboxes)
    </div>
    <div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#teachers">
        Teachers
    </div>
    <div class="collapse" id="teachers">
        @Html.EditorFor(x => x.TeachersCheckboxes)
    </div>*@
}



@section scripts{
        <script>
            function deselectAll(divId) {
                $("#" + divId).find("input:checkbox").removeAttr("checked");
                $("#numSelected_" + divId).text("(0 selected)");
                checkboxRecount(divId);
            }
            
            function checkboxRecount(divId) {
                var numCheckedBoxes = $("#" + divId).find("input:checkbox:checked").length;
                var numTotalBoxes = $("#" + divId).find("input:checkbox").length;

                var txt = numCheckedBoxes == numTotalBoxes ? "(all selected)" : "(" + numCheckedBoxes + " selected)"
                $("#numSelected_" + divId).text(txt);
            }

            function getSchoolIds() {
                var divId = "Schools";
                var checkedBoxes = $("#" + divId).find("input:checkbox:checked");

                var array = checkedBoxes.map(function () {
                    return [$.map($(this).data(schoolId), function (v) {
                        return v;
                    })];
                }).get();

                return array;


                //var array = $("#my_select > option").map(function () {
                //    return [$.map($(this).data(), function (v) {
                //        return v;
                //    })];
                //}).get();

                //.data( "foo" )
                //$( "input[id][name$='man']" ).val( "only this one" );

                //var arr = [];
                //$('#my_select option').each(function () {
                //    var $this = $(this);
                //    arr.push([$this.data('my_id'), $this.data('my_parent'), $this.data('my_name')]);
                //});
            }

            $('#criteriaContainer :checkbox').change(function () {
                var parentDivId = $(this).closest("div").attr("id");

                //if parentdiv == schools
                //get selected schoolIds
                //get container.checkboxes where custompropertyschoolid not in schoolIds
                //uncheck them
                //hide them
                //get container.checkboxes where custompropertyschoolid in schoolIds
                //show them
                //checkboxrecount

                checkboxRecount(parentDivId);

                //var stringArray = new Array();
                //stringArray[0] = "item1";
                //stringArray[1] = "item2";
                //stringArray[2] = "item3";
                var schoolIdsArray = getSchoolIds();
                var postData = { schoolIds: schoolIdsArray };


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSubjectsCheckboxes")',
                    data: postData,
                    success: function(data){
                        alert(data.Result);
                    },
                    dataType: "json",
                    traditional: true
                });


                //if ($(this).is(':checked')) {
                //    console.log($(this).val() + ' is now checked');
                //} else {
                //    console.log($(this).val() + ' is now unchecked');
                //}
            });

        </script>
    }