@model ED2OR.ViewModels.ExportsViewModel

@{
    ViewBag.Title = "Exports";
    var schoolsCriteriaSection = Model.CriteriaSections.FirstOrDefault(x => x.SectionName == "Schools");
    var subjectsCriteriaSection = Model.CriteriaSections.FirstOrDefault(x => x.SectionName == "Subjects");
}

<style>
    .accordionHeader {
        width:100%;
    }
</style>

<h3>@ViewBag.Title</h3>

@*http://v4-alpha.getbootstrap.com/components/collapse/*@

@using (Html.BeginForm())
{
    @*<div id="criteriaContainer">
        @Html.EditorFor(x => x.CriteriaSections)
        <input type="submit" value="OK" />
    </div>*@
    <div id="criteriaContainer">
        @Html.Partial("_CriteriaSection", schoolsCriteriaSection)
        <div id="SubjectsContainer">@Html.Partial("_CriteriaSection", subjectsCriteriaSection)</div>       
         @*<div id="SubjectsContainer">@Html.Partial("_CriteriaSection", subjectsCriteriaSection, new ViewDataDictionary()
                               {
                                   TemplateInfo = new TemplateInfo()
                                   { HtmlFieldPrefix = "Subjects" }
                               })</div>*@

       

        <input type="submit" value="OK" />
    </div>

    @*<div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#schools">
        Schools
    </div>
    <div class="collapse.in" id="schools">
        <a href="javascript:deselectAll('schools');">(deselect all)</a><br />
        @Html.EditorFor(x => x.SchoolsCheckboxes)
    </div>
    <div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#subjects">
        Subjects
    </div>
    <div class="collapse" id="subjects">
        @Html.EditorFor(x => x.SubjectsCheckboxes)
    </div>
    <div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#courses">
        Courses
    </div>
    <div class="collapse" id="courses">
        @Html.EditorFor(x => x.CoursesCheckboxes)
    </div>
    <div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#sections">
        Sections
    </div>
    <div class="collapse" id="sections">
        @Html.EditorFor(x => x.SectionsCheckboxes)
    </div>
    <div class="btn btn-primary accordionHeader" data-toggle="collapse" href="#teachers">
        Teachers
    </div>
    <div class="collapse" id="teachers">
        @Html.EditorFor(x => x.TeachersCheckboxes)
    </div>*@
}



@section scripts{
        <script>


            function deselectAll(divId) {
                $("#" + divId).find("input:checkbox").removeAttr("checked");
                $("#numSelected_" + divId).text("(0 selected)");
                if (divId == "Schools") {
                    schoolsChanged();
                }
                //checkboxRecount(divId);
            }

            function checkboxRecount(divId) {
                var numCheckedBoxes = $("#" + divId).find("input:checkbox:checked").length;
                var numTotalBoxes = $("#" + divId).find("input:checkbox").length;

                var txt = (numCheckedBoxes == numTotalBoxes && numTotalBoxes != 0) ? "(all selected)" : "(" + numCheckedBoxes + " selected)"
                $("#numSelected_" + divId).text(txt);
            }

            function getSchoolIds() {
                var divId = "Schools";
                var checkedBoxes = $("#" + divId).find("input:checkbox:checked");

                var arr = [];
                checkedBoxes.each(function () {
                    var $this = $(this);
                    arr.push($this.data('schoolid'));
                });
                return arr;
            }

            function getBoxesAlreadyChecked(divId) {
                var checkedBoxes = $("#" + divId).find("input:checkbox:checked");

                var arr = [];
                checkedBoxes.each(function () {
                    var $this = $(this);
                    var labelText = $('label[for=' + $this.attr('id') + ']').html();
                    arr.push(labelText);
                });
                return arr;
            }

            //function redrawCheckboxes(divId, stringArray) {
            //    var existingCheckBoxes = $("#" + divId).find("input:checkbox");

            //    existingCheckBoxes.each(function () {
            //        var $this = $(this);
            //        var labelText = $('label[for=' + $this.attr('id') + ']').html();
            //        //var labelText = label.html();
            //        if ($.inArray(labelText, stringArray) == -1) {
            //            $this.closest("span").remove();
            //            //label.remove();
            //            //$this.remove();
            //        }
            //        else { //http://stackoverflow.com/questions/866239/creating-the-checkbox-dynamically-using-javascript
            //        }
            //    });
            //}

            function schoolsChanged() {
                var schoolIds = getSchoolIds();
                var boxesAlreadyChecked = getBoxesAlreadyChecked("Subjects");
              
                //need to add callback function here because "load" is async
                $("#SubjectsContainer").load("@Url.Action("GetSubjectsPartial")", { schoolIds: schoolIds, boxesAlreadyChecked: boxesAlreadyChecked }, function () {
                    assignEvents();
                });


                @*var postData = { schoolIds: schoolIds };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetSubjectsCheckboxes")',
                    data: postData,
                    success: function (result) {
                        redrawCheckboxes("Subjects", result);
                    },
                    //error: function (err) {
                    //    alert('problem');
                    //},
                    dataType: "json",
                    traditional: true
                });*@
            }

            function assignEvents() {
                $('#criteriaContainer :checkbox').change(function () {
                    var parentDivId = $(this).parent("div").attr("id");
                    if (parentDivId == "Schools") {
                        schoolsChanged();
                    }
                    checkboxRecount(parentDivId);

                    //if ($(this).is(':checked')) {
                    //    console.log($(this).val() + ' is now checked');
                    //} else {
                    //    console.log($(this).val() + ' is now unchecked');
                    //}
                });
            }
            
            assignEvents();

        </script>
    }