@model List<EF2OR.ViewModels.TemplateViewModel>
@{
    ViewBag.Title = "Templates";
    var exportActionUrl = Url.Action("Index", "Export", new { }, Request.Url.Scheme) + "/";
}

<style>
    .accordionHeader {
        width: 100%;
        text-align: left;
    }

    #previewWindowContent .table td {
        white-space: nowrap;
    }

    .modal a.close-modal {
  top: 30px;
  right: 30px;
}
</style>

<h3>@ViewBag.Title</h3>
<link href="~/Content/jquery.modal.min.css" rel="stylesheet" />

<div>
    <table id="templateTable" class="table table-striped">
        <tr>
            <th>Template Name</th>
            <th>Vendor</th>
            <th>Access URL</th>
            <th>Access Token</th>
            <th># of Downloads</th>
            <th>Last Access</th>
            <th>Created Date</th>
            <th>Last Modified</th>
            <th>Actions</th>
        </tr>
        @foreach (var template in Model)
        {
            var tokenText = string.IsNullOrEmpty(template.AccessToken) ? "Assign Token" : "Generate New Token";
            <tr>
                <td>@template.TemplateName</td>
                <td>@template.VendorName</td>
                <td>@(string.IsNullOrEmpty(template.AccessUrl) ? "" : exportActionUrl + template.AccessUrl)</td>
                <td>@template.AccessToken</td>
                <td>@template.NumberOfDownloads</td>
                <td>@template.LastAccess</td>
                <td>@template.CreatedDate</td>
                <td>@template.LastModifiedDate</td>
                <td>
                    <a href="javascript:dataPreview(@template.TemplateId);">Preview</a> |
                    <a href="javascript:dataDownload(@template.TemplateId);">Download</a> |
                    <a href="@Url.Action("Index", "Logs", new { templateId = template.TemplateId })">View Log</a> |
                    <a href="javascript:openCloneWindow(@template.TemplateId);">Clone</a> |
                    <a href="javascript:openEditWindow(@template.TemplateId, '@template.TemplateName', '@template.VendorName');">Edit</a> |
                    <a href="javascript:deleteTemplate(@template.TemplateId);">Delete</a> |
                    @Html.ActionLink(tokenText, "AssignToken", new { templateId = template.TemplateId })
                </td>
            </tr>
        }
    </table>
</div>

<div id="previewWindow" style="display:none; overflow-y: auto; width:100%;">
    <div id="previewWindowContent" class="container"></div>
</div>



@section BodyOutsideOfContainer{
    <div style="position:fixed; bottom:40px; padding:10px; background-color: white; width:100%;">
        <div class="container">
            <a href="@Url.Action("Index", "Exports")" class="btn btn-primary">Create New Template</a>
        </div>
    </div>
}


<div id="editWindow" style="display:none; overflow-y: auto;">
    <input type="hidden" id="editTemplateId" />

    <h4 align="center" id="modalHeader"></h4>

    <div class="form-group">
        <label class="col-md-6 control-label">Template Name:</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="editTemplateName" />
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label class="col-md-6 control-label">Vendor Name:</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="editTemplateVendorName" />
        </div>
    </div>
    <br />
    <br />
    <div style="text-align:center;">
        <button type="button" class="btn btn-primary" id="cloneSave" onclick="cloneTemplate()">Save and Review Filters</button>
        <button type="button" class="btn btn-primary" id="editSave" onclick="editTemplate()">Save</button>
        <a href="#" class="btn btn-primary" rel="modal:close">Cancel</a>
    </div>
</div>


@section scripts{
<script src="~/Scripts/jquery.modal.min.js"></script>
  <script>
      function dataPreview(templateId) {
          $('#previewWindowContent').html('<div style="width: 100%; text-align:center;"><img src="@Url.Content("~/Content/Images/loading.gif")" style="width: 64px;" /><h4>Loading...</h4></div>');

          $("#previewWindow").modal({
              showClose: true
          });

          $("#previewWindowContent").load("@Url.Action("PreviewFromTemplate", "Exports")", {
              templateId: templateId
          });
      }

      function dataDownload(templateId) {
          window.location = "@Url.Action("Download")?templateId=" + templateId;
      }

      function openEditWindow(templateId, templateName, vendorName) {
          $("#editTemplateId").val(templateId);
          $("#editTemplateName").val(templateName);
          $("#editTemplateVendorName").val(vendorName);
          $("#cloneSave").hide();
          $("#editSave").show();
          $("#modalHeader").text("Edit Template");

          $("#editWindow").modal({
              showClose: false
          });
      }

      function openCloneWindow(templateId) {
          $("#editTemplateId").val(templateId);
          $("#editTemplateName").val("");
          $("#editTemplateVendorName").val("");
          $("#editSave").hide();
          $("#cloneSave").show();
          $("#modalHeader").text("Clone Template");

          $("#editWindow").modal({
              showClose: false
          });
      }

      function editTemplate() {
          var editTemplateId = $("#editTemplateId").val();
          var editTemplateName = $("#editTemplateName").val();
          var editTemplateVendorName = $("#editTemplateVendorName").val();

          var url = "@Url.Action("Edit")";
          url += "?templateId=" + editTemplateId;
          url += "&templateName=" + editTemplateName;
          url += "&vendorName=" + editTemplateVendorName;

          window.location.href = url;
      }

      function cloneTemplate() {
          var editTemplateId = $("#editTemplateId").val();
          var editTemplateName = $("#editTemplateName").val();
          var editTemplateVendorName = $("#editTemplateVendorName").val();

          var url = "@Url.Action("Clone")";
          url += "?templateId=" + editTemplateId;
          url += "&templateName=" + editTemplateName;
          url += "&vendorName=" + editTemplateVendorName;

          window.location.href = url;
      }

      function deleteTemplate(templateId) {
          if (confirm("Are you sure you want to delete this Template?")) {
              var url = "@Url.Action("Delete")?templateId=" + templateId;
              window.location.href = url;
          }
      }
    </script>   
}