@model ED2OR.ViewModels.InitialSetup
@{
    ViewBag.Title = "Initial Setup";
    string strMessage = string.Empty;
    if (!string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        strMessage = ViewBag.Message;
    }
    string strError = string.Empty;
    if (!string.IsNullOrWhiteSpace(ViewBag.Error))
    {
        strMessage = ViewBag.Error;
    }
}

<h3>@ViewBag.Title</h3>
@using (Html.BeginForm(actionName: "InitialSetup", controllerName: "Admin", method: FormMethod.Post))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @if (!string.IsNullOrWhiteSpace(strMessage))
        {
            <p>@strMessage</p>
        }
        @if (!string.IsNullOrWhiteSpace(strError))
        {
            <p>@strError</p>
        }
        @Html.LabelFor(m => m.DatabaseServer, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.DatabaseServer, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DatabaseName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.DatabaseName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IntegratedSecuritySSPI, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.CheckBoxFor(m => m.IntegratedSecuritySSPI, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DatabaseUserId, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.DatabaseUserId, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DatabaseUserPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.PasswordFor(m => m.DatabaseUserPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DatabaseApplicationName, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.DatabaseApplicationName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ApplicationAdminPassword, new { @class = "col-md-3 control-label" })
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.ApplicationAdminPassword, new { @class = "form-control" })
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id="btnSubmitInitialSetup">Submit</button>
}