<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EASOL Ed-Fi to OneRoster Utility</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color:#44a657;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#44a657;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EASOL Ed-Fi to OneRoster Utility", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:#FFFFFF;" })
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div style="background-color: #FFFFFF; width:100%;">
        <div class="container body-content">
            @RenderBody()
            <br />
            <br />
        </div>
    </div>
    
    <footer style="position:relative; bottom:0px; padding:15px; background-color:#44a657; color:#FFFFFF; border-top: 1px solid #080808;">
        <p>Github Repository - <a style="color:#FFFFFF" href="https://github.com/easol/edfi-to-oneroster">https://github.com/easol/edfi-to-oneroster</a></p>
    </footer>

    @RenderSection("BodyOutsideOfContainer", required: false)
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
